DATABASE_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
WAITERS_ACCESS_TOKEN_SECRET=
CHEFS_ACCESS_TOKEN_SECRET=
TAX_RATE=
SERVICE_CHARGE_RATE=
REDIS_URL=