# Virtual Environment
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Database
db.sqlite3

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

coverage.xml/ .coverage

*.log